@import "reset.css"; 

@font-face {
    font-family: Nova;
    src: url('/font/Nova_Flat/NovaFlat.ttf');
}

@font-face {
    font-family: Pacifico;
    src: url('/font/Pacifico/Pacifico-Regular.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

canvas,select,button {
    cursor: pointer;
}


/* Helpers: */

header {
    font-family: Pacifico,serif;
    background-color: #cb7443;
    color: #3b484d;
    font-size: 2em;
    text-align: center;
    height: 90px;
    line-height: 90px;
    margin-bottom: 30px;
}

.grid {
display: grid;
}

.flex {
display: flex;
}

.hidden {
    display: none;
}

.grid-column {
    grid-template-columns: 1fr;
    grid-row: auto;
}

.grid-center {
    justify-items: center;
}

@media only screen and (min-width: 768px) {
    .grid-column {
        grid-template-columns: 300px 300px;
    }
}



/* Gallery: */

/* .img-gallery {

} */

.filter-options {
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: lightblue;
    height: 200px;
    width: 100%;
    color: darkblue;
    margin-bottom: 20px;
}

.filter-options a{
    cursor: pointer;
}

.filter-options a:hover{
    color: lightcyan;
}

.search-filter-input {
    margin: 0 auto;
    display: block;
}

.img-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}

.img-gallery>img {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-radius: 40px;
    object-fit: cover;
    transition: all 0.3s ;
}

.img-gallery>img:hover {
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
    /* box-shadow: 0 0 10px 6px rgba(0, 140, 186, 0.5); */
}

/*Meme Editor: */

.meme-control {
    /* flex-direction:row; */
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap:wrap; */
}


@media only screen and (max-width: 1024px) {
    .meme-control {
        flex-direction:row;
        flex-wrap:wrap;
    }
}
@media only screen and (max-width: 768px) {
    body{
        font-size: 26px;
    }
    h1 {
        font-size: inherit;
    }

    canvas {
        width: 100%;
    }
    .dl-btn {
        margin: 0 auto;
    }
}

.header-button {
    justify-content: center;
    /* gap: 30px; */
}

.button.add-txt-btn {
    margin:1em auto 1em;
}

.back-btn {
    margin:0 auto;
    display: inline-block;
    margin-bottom: 20px;
}

.text-editor {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 250px;
    margin: 0 4em;
    padding: 10px;
    border: 2px solid black;
}

.text-editor input{
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .text-editor {
        height: 120px;
        width: 97vw;
        margin: 10px auto;
    }
}

/* 
.outline-editor {
    justify-content: space-evenly;
} */

/* FLOAT button */
.btnFloat {
    background: none;
    margin-bottom: 1em;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    width: 270px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ;
  }
  
  .btnBlueGreen{
    background: #00AE68;
  }
  
  .btnLightBlue{
    background: #5DC8CD;
  }
  
  .btnOrange{
    background: #FFAA40;
  }
  
  .btnRed{
    background: #e00f00f2;
  }
  
  .btnFloat:hover {
    margin-top: -2px;
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
  }

.button {
    cursor: pointer;
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.2s ;
}

  @media only screen and (max-width: 768px) {
    .btnFloat {
        width: 80vw;
      }
    .button {
        margin: 0 6vw 1em;
    }
}

